body > h2 {
    font-size: 40px;
    position: relative;
    left: 500px;
}

.opdlink {
    /*text-decoration-style: unset;*/
    text-decoration: none;
    color: black;
}

.btnopd {
    /*box-shadow: 3px 4px 0px 0px #899599;*/
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #3a8a9e;
    font-family: Arial;
    font-size: 17px;
    /*padding: 7px 25px;*/
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;

    position: relative;
    left: 200px;

    padding-bottom: 26px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.btnopd:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}

.btnopd:active {
    position: relative;
    top: 1px;
}